<app-search (emitSearch)="searchGit($event)"></app-search><br>
<div class="container">
  <div class="myprofiledisplay">
    <div class="fistprofile">
  <img id="avatar" src="{{Users.avatar_url}}" alt="profile pic" height="250px" width="250px">
<p>Username: {{Users.login}}</p>
</div>
<div class="secondprofile">
<p>Bio <span>{{Users.bio}}</span> </p>
<p>Name: {{Users.name}}</p>
<p>Followers: {{Users.followers}}</p>
<p>Following: {{Users.followers}}</p>
<p>Public Repositories: {{Users.public_repos}}</p>
<p>Profile link: {{Users.html_url}}</p>



</div>
</div>
<div *ngIf='Repos'>
  <div *ngFor='let repo of Repos'>
    <div class="MYREPO">
    <h3>{{repo.name}}</h3>
    <p> {{repo.description}} </p>
     <p class="repolink"> {{repo.html_url}} </p>
    <p class="repolink"> {{repo.created_at | date}}</p>
   </div>
  </div>
</div>
</div>