
.myprofiledisplay{
  display: flex;
  justify-content: flex-center;
  background-color: lightskyblue;
  font-size: x-large;
  
}
.secondprofile{
  padding: 20px;
  margin: 30px;
}
.fistprofile{
   padding: 20px;
   margin: 30px;
}
#repolink {
  font-size: xx-small;
}
.allrepo {
  border: lightblue 10px;
}

.MYREPO {
  border: 18px solid salmon;
  background-color: green;
  padding: 19px;
  margin: 19px;
}